---
title: About
permalink: "/about/"
layout: default
---

<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Dwayne Newman{% endif %}</h2>
          <p class="author_subtitle">{% if site.about-author %}{{site.about-author}}{% else %}La croix godard blue bottle, vape iceland fingerstache cronut single-origin coffee lyft snackwave normcore small batch.{% endif %}</p>
          <p class="author_subtitle">
          I tried to get a music degree in '03, I made some records in '04. <br>
          In '05, I repaired recording gear, and in '06 I enrolled at the University of New Orleans. <br>
          In '09 i graduated with a BSEE, did some oil and gas work and tried my hand at a startup. <br>
          In '11 I enrolled at Georgia Tech and in '14 received a MSEE. <br>
          I'm going to receive my PhD,EE in December 2017.</p>
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>