---
title: Contact
permalink: "/contact/"
layout: default
---

<section class="contact">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  
  <div class="container_contact">
  <h3 class="form_title">Send me message</h3>

  <form action="https://formspree.io/{{site.email}}" method="post" class="form">
    <div class="message js-form-message"></div>
    <div class="form_group">
        <input type="text" placeholder="Your name" name="Name" class="form-input" required>
    </div>
    <div class="form_group">
        <input type="email" placeholder="Your e-mail" name="_replyto" class="form-input" required>
    </div>
    <div class="form_group">
        <input type="tel" placeholder="Your phone number" name="Phone_Number" class="form-input">
    </div>
    <div class="form_group">
        <textarea name="Message" placeholder="Your Message" cols="25" rows="6" class="form-textarea" required></textarea>
    </div>
    <div class="form_group">
        <input type="submit" class="form_btn" value="Send">
    </div>
  </form>
  </div>
</section>
