---
layout: main
---

{% for collection in site.collections %}

  <div class="chapter">
    <a href="{{collection.label | prepend: site.baseurl}}">
      {% if collection.image %}
      <img src={{ "/assets/img/" | prepend: site.baseurl | append: collection.image }} alt="{{collection.label}}">
      {% endif %}
    </a>

    <div class="chapter_inner">
      <!-- <p class="chapter_number">{{collection.date | date: '%Y, %b %d'}}</p> -->
      <p><br></p>
      <h3 class="chapter_title">{{collection.label}}</h3>
    </div>
  </div>
{% endfor %}