---
title: Projects
layout: main
---

{% for page in site.projects %}
  {% unless page.url contains '/index' %}

    <div class="chapter">
      <a href="{{page.url | prepend: site.baseurl}}">
        {% if page.images %}
        <img class="tint t7" src={{ page.images.first }} alt="{{page.title}}">
        {% endif %}
      </a>

      <div class="chapter_inner">
        <!-- <p class="chapter_number">{{collection.date | date: '%Y, %b %d'}}</p> -->
        <p><br></p>
        <h3 class="chapter_title">{{page.title}}</h3>
      </div>
    </div>
    
  {% endunless %}
{% endfor %}