
<footer class="main_footer">
  <div class="wrapper">
    {% include social_footer.html %}
    <div class="copyright">
      <p>&copy; {{site.time | date: '%Y'}} Barry Muldrey, all rights reserved. Design by <a href="https://artemsheludko.github.io" target="_blank">Artem Sheludko</a> used with permission</p>
    </div>
  </div>
</footer> <!-- End Section Footer -->