<header>
  <div class="post_header">
    
    	<img class="blur" src={{ page.images.first }} alt="{{page.title}}">
    	<img class="focus" src={{ page.images.first }} alt="{{page.title}}">
    
  </div>
  <div class="post_description">
    <p class="post_meta">{{page.date | date: '%Y, %b %d'}}</p>
    <h1 class="post_title">{{page.title}}</h1>
  </div>
</header> <!-- End Header -->