
<ul class="social_footer">
  
  {% if site.google_url %}
  <li><a href="{{ site.google_url }}" target="_blank"><i class="fa fa-google" aria-hidden="true"></i></a></li>
  {% else %}
  <li><a href="#" target="_blank"><i class="fa fa-google" aria-hidden="true"></i></a></li>      
  {% endif %}
  
  {% if site.twitter_url %}
  <li><a href="{{ site.twitter_url }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
  {% else %}
  <li><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
  {% endif %}
  
  {% if site.instagram_url %}
  <li><a href="{{ site.instagram_url }}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
  {% else %}
  <li><a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
  {% endif %}
  
  {% if site.linkedin_url %}
  <li><a href="{{ site.linkedin_url }}" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
  {% else %}
  <li><a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
  {% endif %}









  {% comment %}
  <!--
          {% if site.pinterest_url %}
          <li><a href="{{ site.pinterest_url }}" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
          {% else %}
          <li><a href="#" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
          {% endif %}
          
          {% if site.dribbble_url %}
          <li><a href="{{ site.dribbble_url }}" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
          {% else %}
          <li><a href="#" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
          {% endif %}
          
          {% if site.facebook_url %}
          <li><a href="{{ site.facebook_url }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          {% else %}
          <li><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          {% endif %}
  -->
  {% endcomment %}
</ul>