---
layout: default
---

  {% include header.html %}

  {% include banner.html %}

  <main class="page-content" aria-label="Content">
  <section class="chapters cf">
      <div class="wrapper">
      {{ content }}
      </div>
  </section>
  </main>

  {% comment %}
    {% include newsletter.html %}
    {% include pagination.html %}
  {% endcomment %}
  
  {% include footer.html %}